body {
  margin: 0;
  padding: 0;
  background-attachment: absolute;
  background-size: cover;
}
h1, h2, h4, h5 {
  color: rgb(153, 153, 153);
}


/*------------------------- HEADER -----------------------------------------*/
.main-nav {
  margin: 1%;
  text-align: center;
  
}
.main-nav li{
  display: inline-block;
  margin: 1%;
}
.main-nav li > a {
  margin: 5%;
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(153, 153, 153, 0.84);
    text-decoration: none;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid rgba(204, 204, 204, 0.05);
    border-radius: 10px;
}
.main-nav-link a:hover {
  background-color: rgba(153, 153, 153, 0.4);

  color: rgba(255, 255, 255, 0.7);
}

/*--------------------------  LOGO & Contact -----------------------------------*/

.logo-home {
  padding-top: 5%;
  position: fixed;
  z-index: 3;
  width: 10%;
    /* padding-top: 20px; */
    /* text-align: right; */
  margin-left: 87%;
}
.menu-persistant-container {
    background-color: rgba(255, 255, 255, 0.88);
    border: 5px solid rgba(204, 204, 204, 0.5);
}
.menu-persistant {
    margin-left: -15px;
    padding-bottom: 5px;
}
.menu-persistant li {
  list-style: none;
  text-decoration: none;
  padding: 5%;
}
.menu-persistant a {
  font-size: 1.5em;
    font-weight: 700;
    color: #999;
    text-decoration: none;
}
.menu-persistant img {
  margin-left: 20px;
}
.socials-icone {
  width: 35%;
}
.content-down {
  position: relative;
  z-index: 5;
  text-align: center;
}
#fleche-bas {
  color: white;
  font-size: 3.5em;
}
#fleche-bas:hover {
  animation: downy 5s linear infinite;
}
@keyframes downy {
  0% {font-size: 3.5em;}
  100% {font-size: 5.5em;}
}
#vaAContent {
    background-color: transparent;
    border:none;
}
#vaAContent:active {
  border: none;
}

/*----------------------------------------  MAIN-CONTENT -------------------------------------*/

#main-content {
  position: relative;

}


/*--------------------- CONTENT-PAGES -------------------*/

.content-pages {
  width: 75%;
  max-width: 1000px;
  /* text-align: center; */
  margin-left: 15%;
}
.container-edition {
  width: 900px;
}
.article {
  margin-top: 40%;
}
.team-hydro-titre h1 {
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #ddd;
  color: #999
}
.hydrocontest-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-style: italic;
}
.heigvd-text {
  color:rgba(255, 5, 0, 0.57);
}

.team-hydro-titre {
  margin-top: 5%;
  text-align: center;
  margin-right: 20px;
  padding-left: 10%;
  padding-right: 5%;

}
.team-description {
  position: absolute;
    /* padding: 5%; */
    /* height: 500px; */
    margin-left: -5%;
    width: 100%;
    max-width: 1300px;

}
#img-membre {
  width: 50%;
  border-radius: 2%;
  box-shadow: 1px 1px 12px #ddd;
}
.team {
  margin-right: 10%;
  margin-left: 5%;
}
.team-member {
  padding: 1%;
}
.membre-description {
    position: relative;
    text-align: left;
    z-index: 6;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-right: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-left: -5%;
    /* padding-right: 50px; */
    background-color: rgba(245, 245, 245, 0.91);
    border-radius: 5%;
    width: 50%;
    margin-top: -65%;
}
.membre-description h5 {
  font-size: 1.1em;
  font-style: bold;
  font-weight: bold;
  color:#203c7f;
}
#description {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 100;
}
.team-soutien-titre {
  margin-top: 5%;
  text-align: center;
  margin-right: 20px;
  background-color: rgba(238, 238, 238, 0.09);
  padding-left: 10%;
  padding-right: 5%;

}
.team-soutien-titre h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #ddd;
  color: #999
}
.team-soutien-member {
  padding: 1%;
}
#img-membre-soutien {
  width: 50%;
  border-radius: 2%;
  box-shadow: 1px 1px 12px #ddd;
}
.membre-soutien-description {
    position: relative;
    text-align: left;
    z-index: 6;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-right: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-left: -5%;
    /* padding-right: 50px; */
    background-color: rgba(245, 245, 245, 0.91);
    border-radius: 5%;
    width: 50%;
    margin-top: -39%;
}
.sponsor-description{
   text-align: center;
}
.sponsor-description h2{
    margin: 20px 0px;
}
.sponsor-description img{
    width: 15%;
    margin-bottom: 20px;
}
.presse-description{
    padding-right: 10%;
}
#tabPresse td:nth-child(1){
    width: 15%;
}
#tabPresse td:nth-child(2){
    width: 15%;
}
#tabPresse p{
    text-align: justify;
}
#tabPrix td:nth-child(1){
    width: 25%;
}
#tabPrix td:nth-child(2){
    text-align: justify;
}
#tabPrix td{
    vertical-align: middle;
}
.fa-trophy{
    color: gold;
    margin-right: 15px;
}
#tabNews img{
    width: 150px;
    margin-right: 15px;
}
#tabNews td:nth-child(2){
    text-align: justify;
}
#tabNews td:nth-child(1){
    width: 20%;
}
.concours-description{
    text-align: center;
}
.concours-description p{
    text-align: justify;
}
.concours-description img{
    margin: 20px 0px;
    width: 250px;
    max-height: 300px;
}
.media-description{
    text-align: center;
}
.media-description h2{
    margin-bottom: 20px;
}
.media-description img{
    width: 15%;
    margin-bottom: 20px;
}

/*------------------------------- ADMIN -----------------------------------*/
ul, li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}
.navbar-admin {
  background-color: #203c7f;
    border-color: #eee;
}
#menu-admin > li > a {
  color: white;
  display: inline-block;
  list-style: none;
  text-decoration: none;
}
#menu-admin > li > a:hover {
  background-color: rgba(204, 204, 204, 0.66);
  border-radius: 1px;
}
#menu-admin > li > a:focus {
  background-color: #77839f;
}
.link-active {
  color: #337ab7;
  border-radius: 1px;
}
#home {
  color: white;
}
#home:hover {
  color: #337ab7;
}
.page {
  border:5px solid #203c7f;
  margin-bottom: 10%;
}
.page h3 {
  font-size: 3em;
  padding: 1%;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}
.page h4 {
  color: #999;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
.administration {
  margin: 1%;
  text-align: center;
  margin-bottom: 5%
}
.administration h4 {
  color: #999;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
.btn-nozon {
  color: #333;
    background-color: #999;
    border-color: #ccc;
}
.btn-nozon:hover {
  background-color: #999;
  
}
/*----------------- Edition ------------*/
.form-create {
  margin-top: 5%;
  
}
.form-group {
  text-align: left;
    padding: 2%;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}
.form-group label {
  font-weight: 300;
    margin: 2%;
    margin-bottom: 5%;
    font-style: italic;
    font-size: 1.2em;
    color: #203c7f;
}
.form-group input {
  width: 100%;
      margin: 0 auto;
}
.form-group textarea {
  width: 100%;
      margin: 0 auto;
}
.form-group button {
  margin-top: 5%;
  background-color: #ccc
}
.form-group button:hover {
   background-color: #999;
}
#year {
  border:none;
  font-size: 1.5em;
  background-color: #ddd;
  color:#777;
}
#year:hover {
  background-color: #999;
}
#btn-show-form {
  background-color: #1f3c7e;
    color: white;
    border-color: #e5e5e5;
}
#btn-show-form:hover {
  background-color: #337ab7;
    color: white;
    border-color: #e5e5e5;
}
#btnCreer, #btnModifier {
  background-color: #ccc;

}
#btnCreer:hover, #btnModifier:hover {
  background-color: #999;
  
}

/*-------------------------- Accueil -----------------*/
#page_accueil {
  text-align: center;
}
.form-inline {
  background-color: rgba(238, 238, 238, 0.63);
  margin-bottom: 1%;
}

/*------------------------Equipe --------------------*/
#modEquipe select {
  width: 20%;
    /* text-align: center; */
    margin: 0 auto;
}

/*---------------------- Sponsors ------------------*/

.img-liste-sponsor {
  width: 10%;
}
.modif-sponsor {
  font-size: 2em;
  color:#333;
}

/* ----------------- Médias ------------------------*/
#media {
  text-align: left;
    padding: 5%;
    text-align: center;
    display: inline-block;
    /* padding-left: 30%; */
    /* padding-right: 30%; */
}






/*------------------------------- FOOTER ---------------------------------*/
.footer-container {
  position: relative;
  background-color: #203c7f;
  text-align: center;
  padding-right: 30%;
  padding-left: 30%;
}

