body {
  margin: 0;
  padding: 0;
  background-attachment: absolute;
  background-size: cover;
}
h1, h2, h3, h4, h5 {
  color: rgb(153, 153, 153);
}
.row{
    margin-right: 0;
    margin-left: 0;
}
/*------------------------ BACKGROUND VIDEO -------------------------------*/

.video-background-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
}
.video-background {
    width: 100%;
    max-height: 1000px;
}

/*------------------------- HEADER -----------------------------------------*/
nav.navbar {
  background-color: #f5f5f5;
  height: 10px;
}
.main-nav {
  margin: 1%;
  text-align: center;
  
}
.main-nav li{
  display: inline-block;
  margin-right: 2%;
}
.main-nav li > a {
    margin: 5%;
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(153, 153, 153, 0.84);
    text-decoration: none;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 1%;
    margin-left: 1%;
}
.main-nav-link a:hover {
  color: #555;
}


/*--------------------------  LOGO & Contact -----------------------------------*/

.logo-home {
  position: fixed;
  z-index: 3;
  width: 10%;
    /* padding-top: 20px; */
    /* text-align: right; */
  margin-left: 87%;
  margin-top: -39%;
}
.menu-persistant-container {
    background-color: rgba(255, 255, 255, 0.88);
    border: 5px solid rgba(204, 204, 204, 0.5);
}
.menu-persistant {
    margin-left: -15px;
    padding-bottom: 5px;
}
.menu-persistant li {
  list-style: none;
  text-decoration: none;
  padding: 5%;
}
.menu-persistant a {
  font-size: 1.5em;
    font-weight: 700;
    color: #999;
    text-decoration: none;
}
.menu-persistant img {
  margin-left: 20px;
}
.socials-icone {
  width: 35%;
}
.content-down {
  position: relative;
  margin-top: 40%;
  z-index: 5;
  text-align: center;
}
#fleche-bas {
  color: white;
  font-size: 3.5em;
}
#fleche-bas:hover {
  animation: downy 5s linear infinite;
}
@keyframes downy {
  0% {font-size: 3.5em;}
  100% {font-size: 5.5em;}
}
#vaAContent {
    background-color: transparent;
    border:none;
}
#vaAContent:active {
  border: none;
}


/* ----------------------- COMPTEUR --------------------------------*/
.container-compteur {
  position: absolute;
  margin-top: -5%;
  margin-left: 70%;
  margin-right: 2%;
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.88);
  border: 5px solid rgba(204, 204, 204, 0.5);
}
.container-compteur h4 {
  font-size: 1.2em;
  font-weight: 700;
    color: #999;
    text-decoration: none;
}
.leCompteur {
  margin-top: 10px;
}
.compteur-titre {
  margin-top: 10px;
  margin-bottom: 20px;
}
.compteur-jours {
  margin-left: 5px;
}
#compteAReboursTitre {
  text-align: center;
}
.compteur {
  padding-left: 90px;
  text-align: center;
  margin-bottom: 10px;
}
.cadran {
  background-color: #203c7f;
  padding: 2%;
  box-shadow: 1px 1px 10px rgba(85, 85, 85, 0.15);
}
.cadran span {
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: bold;
}
.compteur p {
  text-align: center;
  color: rgba(157, 157, 157, 0.85);
  margin-top: 10px;
  font-size: 0.7em;
}



/*----------------------------------------  MAIN-CONTENT -------------------------------------*/

#main-content {
  margin-top: 20%;

}

/*-------------------- SIDENAVE --------------------*/
#main-sidenav {
 position: fixed;
    margin-left: 4%;
    margin-top: -55%;
    width: 100px;
}
.nav-edition h4 {
  font-size: 1.2em;
  color: rgba(153, 153, 153, 0.5);
  padding-left: 10%;
  margin-bottom: 15%;
  border-bottom: 50px solid whitesmoke;

}
.nav-edition-liste {
	list-style: none;
  padding-left: 0;

}
.nav-edition-liste a {
  text-decoration: none;
}

.nav-edition-circle {
	background: #f5f5f5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 30%;
}
.circle-activ {
	background: #f5f5f5;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: -0.85%;
    animation: loady 3s linear infinite;
   
}
@keyframes loady {
	0% {border: 4px outset rgb(238, 238, 238);}
	100% {border: 4px inset rgb(238, 238, 238);}
}
/*
.nav-edition-bar {
	border-left: 4px solid rgba(238, 238, 238, 0.53);
	margin-left: -11px;
}
*/
.nav-edition-container-year {
	padding-top: 30%;
}
.nav-edition-year {
	padding-left: 0.7em;
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-50%);
  	color: #9d9d9d;
  	text-decoration: none;
  	font-size: 1em;
}
.year-activ {
	padding-left: 0.7em;
	margin-top: 40vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-60%);
  	color: #9d9d9d;
  	text-decoration: none;
  	font-size: 1.3em;
  	font-weight: bold;
}




/*--------------------- CONTENT-PAGES -------------------*/

#content-pages {
  width: 75%;
  max-width: 1000px;
  /* text-align: center; */
  margin-left: 15%;
}
.container-edition {
  width: 900px;
}
.article {
  margin-bootm: 5%;
}
.team-hydro-titre h1 {
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #ddd;
  color: #999;
}
.hydrocontest-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-style: italic;
  color: #ccc;
}
.heigvd-text {
  color:rgba(255, 5, 0, 0.57);
}

.team-hydro-titre {
  margin-top: 5%;
  text-align: center;
  margin-right: 20px;
  padding-left: 10%;
  padding-right: 5%;

}
.team-hydro-titre h5.futursponsor {
  text-align: right;
}
.team-description {
    /* padding: 5%; */
    /* height: 500px; */
    margin-left: -5%;
    width: 100%;
    max-width: 1300px;

}

.team {
  margin-right: 10%;
  margin-left: 5%;
}
.team-member {
  position: relative;
  width: 50%;
}
.image-membre {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 12px #ddd;
}
.membre-description {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 75%;
    opacity: 0;
    margin-left: 3%;
    background-color: rgba(32, 60, 127, 0.64);
}

.team-member:hover .membre-description {
  opacity: 1;
  transition-timing-fonction: ease;
    transition: 1s;
}
.text {
  color: white;
  margin-top: 35%;
  padding: 10%;
}
.membre-description h5 {
  color: white;
  font-size: 1.1em;
  font-style: bold;
  font-weight: bold;
  color:white;
  padding-left: 2%;
  border-left: 30px solid white;
}
#fonction {
  padding-left: 2%;
  border-left: 60px solid white;
}

#description {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
}
.team-soutien-titre {
  margin-top: 5%;
  text-align: center;
  margin-right: 20px;
  background-color: white;
  padding-left: 10%;
  padding-right: 5%;

}
.team-soutien-titre h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #ddd;
  color: #ccc;
}
.team-soutien-member {
  position: relative;
  width: 50%;
}
#img-membre-soutien {
  display: block;
  width: 50%;
  height: auto;
  box-shadow: 1px 1px 12px #ddd;
  box-shadow: 1px 1px 12px #ddd;
}
.membre-soutien-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 48%;
    opacity: 0;
    margin-left: 3%;
    background-color: rgba(32, 60, 127, 0.64);
}
.team-soutien-member:hover .membre-soutien-description {
  opacity: 1;
  transition-timing-fonction: ease;
    transition: 1s;
}
.text-soutien, .text-soutien h5 {
  color: white;
  padding-left: 2%;
  border-left: 15px solid white;
}
.text-soutien p#fonction {
  border-left: none;
}


/*------------------------------- FOOTER ---------------------------------*/
.footer-container {
  position: relative;
  background-color: #203c7f;
  text-align: center;
  padding-right: 35%;
  padding-left: 35%;
}

/*------------------------------- CONNEXION + MODAL/FADE ---------------------------------*/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.contactmodal-container{
  padding: 30px;
  padding-top: 15px;
  max-width: 500px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.contactmodal-container, h1 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 0;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.contactmodal-container input[type=submit]{
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=email], input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.contactmodal-container input[type=email], input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.contactmodal-container textarea{
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.contactmodal-container input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
 border-radius: 3px; 
 -webkit-user-select: none;
  user-select: none; 
}

.loginmodal-submit {
   border: 1px solid #3079ed; 
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #203c7f;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
   background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#2a4891), to(#203c7f)); 
}

.loginmodal-submit:hover {
   border: 1px solid #2f5bb7; 
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #203c7f;
   background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#203c7f), to(#2a4891)); 
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.contactmodal-container p {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
/*------------------------------------*/

/*------------Devenir sponsor---------*/
#tabSponsor td{
    text-align: center;
    vertical-align: middle;
    color: #203c7f;
}
#titreTab th{
    text-align: center;
}
#devSponsor{
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
}
#devSponsor button{
    margin-top: 25px;
    margin-bottom: 50px;
}
.col-md-4 img{
    width: 80%;
    height: 80%;
}
#imgExemple{
    margin-top: 50px;
    margin-bottom: 50px;
}
#btn-dev{
    cursor: pointer;
}
/*------------------------------------*/
.sponsor-description{
   text-align: center;
}
.sponsor-description h2{
    margin: 20px 0px;
}
.sponsor-description img{
    width: 15%;
    margin-bottom: 20px;
}
.presse-description{
    padding-right: 10%;
}
#tabPresse td:nth-child(1){
    width: 15%;
}
#tabPresse td:nth-child(2){
    width: 15%;
}
#tabPresse p{
    text-align: justify;
}
#tabPrix td:nth-child(1){
    width: 25%;
}
#tabPrix td:nth-child(2){
    text-align: justify;
}
#tabPrix td{
    vertical-align: middle;
}
.fa-trophy{
    color: gold;
    margin-right: 15px;
}
#tabNews img{
    width: 150px;
    margin-right: 15px;
}
#tabNews td:nth-child(2){
    text-align: justify;
}
#tabNews td:nth-child(1){
    width: 20%;
}
.concours-description{
    text-align: center;
}
.concours-description p{
    text-align: justify;
}
.concours-description img{
    margin: 20px 0px;
    width: 250px;
    max-height: 300px;
}
.media-description{
    text-align: center;
}
.media-description h2{
    margin-bottom: 20px;
}
.media-description img{
    width: 15%;
    margin-bottom: 20px;
}